body {
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

body > .canvas {
    justify-content: space-between;
    display: flex;
}